In [164]:
import pandas as pd

In [165]:
df = pd.read_csv("malazan_supply_log.csv")
df

,Legion,Location,Rations_Issued,Healing_Potions,Mage_Support,Days_Supplied,Morale_Score
0,Bridgeburners,pale,450.0,15.0,HIGH,30.0,'88'
1,7th army,aren,600.0,NaN,Medium,28.0,'74'
2,claw,unta,NaN,5.0,NaN,15.0,'67'
3,Bonehunters,raraku,750.0,10.0,low,NaN,'79'
4,Marines,Malaz City,500.0,8.0,Medium,25.0,NaN
5,Wickans,ehrlitan,NaN,NaN,low,18.0,'71'
6,T’lan Imass,Genabaris,NaN,0.0,NaN,100.0,'100'
7,2nd Army,,420.0,12.0,High,22.0,'80'
8,bonehunters,raraku,750.0,10.0,low,NaN,'79'
9,Bridgeburners,Pale,450.0,15.0,HIGH,30.0,'88'

In [166]:
print(df.isna().sum())

Legion             0
Location           0
Rations_Issued     3
Healing_Potions    2
Mage_Support       2
Days_Supplied      2
Morale_Score       1
dtype: int64

In [167]:
df['Rations_Issued'].fillna(df['Rations_Issued'].mean(), inplace=True)
df['Healing_Potions'].fillna(df['Healing_Potions'].mean(), inplace=True)
df['Days_Supplied'].fillna(df['Days_Supplied'].mean(), inplace=True)

In [168]:
df

,Legion,Location,Rations_Issued,Healing_Potions,Mage_Support,Days_Supplied,Morale_Score
0,Bridgeburners,pale,450.0,15.000,HIGH,30.0,'88'
1,7th army,aren,600.0,9.375,Medium,28.0,'74'
2,claw,unta,560.0,5.000,NaN,15.0,'67'
3,Bonehunters,raraku,750.0,10.000,low,33.5,'79'
4,Marines,Malaz City,500.0,8.000,Medium,25.0,NaN
5,Wickans,ehrlitan,560.0,9.375,low,18.0,'71'
6,T’lan Imass,Genabaris,560.0,0.000,NaN,100.0,'100'
7,2nd Army,,420.0,12.000,High,22.0,'80'
8,bonehunters,raraku,750.0,10.000,low,33.5,'79'
9,Bridgeburners,Pale,450.0,15.000,HIGH,30.0,'88'

In [169]:
df.isna().sum()

Legion             0
Location           0
Rations_Issued     0
Healing_Potions    0
Mage_Support       2
Days_Supplied      0
Morale_Score       1
dtype: int64

In [170]:
df.dtypes

Legion              object
Location            object
Rations_Issued     float64
Healing_Potions    float64
Mage_Support        object
Days_Supplied      float64
Morale_Score        object
dtype: object

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Legion           10 non-null     object
 1   Location         10 non-null     object
 2   Rations_Issued   10 non-null     float64
 3   Healing_Potions  10 non-null     float64
 4   Mage_Support     8 non-null      object
 5   Days_Supplied    10 non-null     float64
 6   Morale_Score     9 non-null      object
dtypes: float64(3), object(4)
memory usage: 688.0+ bytes

In [172]:
df['Morale_Score'] = df['Morale_Score'].str.replace("'", "")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Legion           10 non-null     object
 1   Location         10 non-null     object
 2   Rations_Issued   10 non-null     float64
 3   Healing_Potions  10 non-null     float64
 4   Mage_Support     8 non-null      object
 5   Days_Supplied    10 non-null     float64
 6   Morale_Score     9 non-null      object
dtypes: float64(3), object(4)
memory usage: 688.0+ bytes

In [173]:
df['Morale_Score'].fillna(80, inplace=True)

In [174]:
df['Morale_Score'] = df['Morale_Score'].astype(int)

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Legion           10 non-null     object
 1   Location         10 non-null     object
 2   Rations_Issued   10 non-null     float64
 3   Healing_Potions  10 non-null     float64
 4   Mage_Support     8 non-null      object
 5   Days_Supplied    10 non-null     float64
 6   Morale_Score     10 non-null     int64
dtypes: float64(3), int64(1), object(3)
memory usage: 688.0+ bytes

In [176]:
df['Legion'] = df['Legion'].str.lower().str.strip()
df['Location'] = df['Location'].str.lower().str.strip()
df['Mage_Support'] = df['Mage_Support'].str.lower().str.strip()
df

,Legion,Location,Rations_Issued,Healing_Potions,Mage_Support,Days_Supplied,Morale_Score
0,bridgeburners,pale,450.0,15.000,high,30.0,88
1,7th army,aren,600.0,9.375,medium,28.0,74
2,claw,unta,560.0,5.000,NaN,15.0,67
3,bonehunters,raraku,750.0,10.000,low,33.5,79
4,marines,malaz city,500.0,8.000,medium,25.0,80
5,wickans,ehrlitan,560.0,9.375,low,18.0,71
6,t’lan imass,genabaris,560.0,0.000,NaN,100.0,100
7,2nd army,,420.0,12.000,high,22.0,80
8,bonehunters,raraku,750.0,10.000,low,33.5,79
9,bridgeburners,pale,450.0,15.000,high,30.0,88

In [177]:
df = df.drop_duplicates(subset="Legion", keep="first")

In [178]:
df

,Legion,Location,Rations_Issued,Healing_Potions,Mage_Support,Days_Supplied,Morale_Score
0,bridgeburners,pale,450.0,15.000,high,30.0,88
1,7th army,aren,600.0,9.375,medium,28.0,74
2,claw,unta,560.0,5.000,NaN,15.0,67
3,bonehunters,raraku,750.0,10.000,low,33.5,79
4,marines,malaz city,500.0,8.000,medium,25.0,80
5,wickans,ehrlitan,560.0,9.375,low,18.0,71
6,t’lan imass,genabaris,560.0,0.000,NaN,100.0,100
7,2nd army,,420.0,12.000,high,22.0,80

In [180]:
df.loc[:,'Established'] = ["1756-04-12", "1762-09-01", "1749-06-23", "1767-03-10", 
                           "1735-11-15", "1760-07-30", "unknown", "1750-01-02"]

In [192]:
df.loc[:,'Established'] = pd.to_datetime(df['Established'], errors="coerce")

In [193]:
df

,Legion,Location,Rations_Issued,Healing_Potions,Mage_Support,Days_Supplied,Morale_Score,Established
0,bridgeburners,pale,450.0,15.000,high,30.0,88,1756-04-12 00:00:00
1,7th army,aren,600.0,9.375,medium,28.0,74,1762-09-01 00:00:00
2,claw,unta,560.0,5.000,NaN,15.0,67,1749-06-23 00:00:00
3,bonehunters,raraku,750.0,10.000,low,33.5,79,1767-03-10 00:00:00
4,marines,malaz city,500.0,8.000,medium,25.0,80,1735-11-15 00:00:00
5,wickans,ehrlitan,560.0,9.375,low,18.0,71,1760-07-30 00:00:00
6,t’lan imass,genabaris,560.0,0.000,NaN,100.0,100,NaT
7,2nd army,,420.0,12.000,high,22.0,80,1750-01-02 00:00:00

In [199]:
df['Established'][0].year

1756

In [200]:
df['Legion'].str.len()

0    13
1     8
2     4
3    11
4     7
5     7
6    11
7     8
Name: Legion, dtype: int64

In [201]:
def find_outliers_iqr(series):
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1

    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    return (series < lower_bound) | (series > upper_bound)

In [202]:
find_outliers_iqr(df['Healing_Potions'])

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
Name: Healing_Potions, dtype: bool

Reshapes that 1D array into a 2D array with one column and as many rows as needed.
- The -1 tells NumPy: “figure out this dimension automatically based on the data length.”
- The 1 means: “make it one column.”

In [203]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))
scaler.fit_transform(df.Morale_Score.values.reshape(-1,1))

array([[0.63636364],
       [0.21212121],
       [0.        ],
       [0.36363636],
       [0.39393939],
       [0.12121212],
       [1.        ],
       [0.39393939]])

In [208]:
df['Mage_Support'].fillna("high")
df

,Legion,Location,Rations_Issued,Healing_Potions,Mage_Support,Days_Supplied,Morale_Score,Established
0,bridgeburners,pale,450.0,15.000,high,30.0,88,1756-04-12 00:00:00
1,7th army,aren,600.0,9.375,medium,28.0,74,1762-09-01 00:00:00
2,claw,unta,560.0,5.000,high,15.0,67,1749-06-23 00:00:00
3,bonehunters,raraku,750.0,10.000,low,33.5,79,1767-03-10 00:00:00
4,marines,malaz city,500.0,8.000,medium,25.0,80,1735-11-15 00:00:00
5,wickans,ehrlitan,560.0,9.375,low,18.0,71,1760-07-30 00:00:00
6,t’lan imass,genabaris,560.0,0.000,high,100.0,100,NaT
7,2nd army,,420.0,12.000,high,22.0,80,1750-01-02 00:00:00

In [209]:
df_encoded = pd.get_dummies(df, columns=['Mage_Support'])
df_encoded

,Legion,Location,Rations_Issued,Healing_Potions,Days_Supplied,Morale_Score,Established,Mage_Support_high,Mage_Support_low,Mage_Support_medium
0,bridgeburners,pale,450.0,15.000,30.0,88,1756-04-12 00:00:00,True,False,False
1,7th army,aren,600.0,9.375,28.0,74,1762-09-01 00:00:00,False,False,True
2,claw,unta,560.0,5.000,15.0,67,1749-06-23 00:00:00,True,False,False
3,bonehunters,raraku,750.0,10.000,33.5,79,1767-03-10 00:00:00,False,True,False
4,marines,malaz city,500.0,8.000,25.0,80,1735-11-15 00:00:00,False,False,True
5,wickans,ehrlitan,560.0,9.375,18.0,71,1760-07-30 00:00:00,False,True,False
6,t’lan imass,genabaris,560.0,0.000,100.0,100,NaT,True,False,False
7,2nd army,,420.0,12.000,22.0,80,1750-01-02 00:00:00,True,False,False