# Lab 2: Control Structures and Functions - Solutions

## Task 1: Even or Odd Number Checker

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

## Task 2: Multiples of 3

In [ ]:
for i in range(1, 51):
    if i % 3 == 0:
        print(i)

## Task 3: Password Strength Checker

In [ ]:
password = input("Enter a password: ")
has_digit = any(char.isdigit() for char in password)
has_special = any(char in '!@#$%&*' for char in password)
if len(password) >= 8 and has_digit and has_special:
    print("Strong password")
else:
    print("Weak password")

## Task 4: FizzBuzz

In [ ]:
for i in range(1, 51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

## Task 5: Temperature Conversion Table

In [ ]:
def convert_celsius_to_fahrenheit(start, end):
    for c in range(start, end + 1):
        f = (c * 9/5) + 32
        print(f"{c}°C = {f:.1f}°F")

convert_celsius_to_fahrenheit(0, 10)

## Task 6: Factorial with Input Validation

In [ ]:
num = input("Enter a non-negative integer: ")
if num.isdigit():
    num = int(num)
    result = 1
    for i in range(1, num + 1):
        result *= i
    print(f"Factorial of {num} is {result}")
else:
    print("Invalid input")

## Task 7: Prime Number Checker

In [9]:
n = int(input("Enter a number: "))
if n < 2:
    print("Not prime")
else:
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            print("Not prime")
            break
    else:
        print("Prime")

Enter a number:  12

Not prime

In [77]:
students = {'Tom': 'A', 'Sam': 'B', 'Jack': 'C'}

In [79]:
students['Tom'] = 'B'

In [80]:
students['Tom']

'B'

In [81]:
students['Jerry'] = 'A'

In [83]:
del students['Tom']

In [84]:
students

{'Sam': 'B', 'Jack': 'C', 'Jerry': 'A'}

In [87]:
for student, grade in students.items():
    print(f"Student: {student}, Grade: {grade}")

Student: Sam, Grade: B
Student: Jack, Grade: C
Student: Jerry, Grade: A

In [92]:
[x**2 for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

In [93]:
[x.lower() for x in ["A", "B", "C"]]

['a', 'b', 'c']

In [100]:
raw_name = "  Alice\n"
raw_name = raw_name.strip().upper()
"WELCOME, " + raw_name

'WELCOME, ALICE'

In [181]:
try:
    a = int(input("First number: "))
    b = int(input("Second number: "))
    print(a/b)
except ValueError:
    print("not an integer")
except ZeroDivisionError:
    print("division by zero")
finally:
    print("See you later!")

First number:  4
Second number:  4

1.0
See you later!

In [106]:
l = [4, 6, 1, 3, 9]

In [108]:
l.append(2)

In [112]:
l.pop(1)

1

In [114]:
l.sort()

In [123]:
t = ("Felisin", 28, "Unta")

In [124]:
t

('Felisin', 28, 'Unta')

In [125]:
name, age, city = t

In [128]:
print(f"Name: {name}, Age: {age}, City: {city}")

Name: Felisin, Age: 28, City: Unta

In [145]:
s = {123, 565, 334}

In [149]:
s.remove(456)

In [152]:
365 in s

False

In [153]:
students = {'Stormy' : 'A', 'Fiddler': 'B', 'Mallet': 'C'}

In [158]:
students['Trotts'] = 'A'

In [160]:
del students['Trotts']

In [161]:
students

{'Stormy': 'B', 'Fiddler': 'B', 'Mallet': 'C'}

In [163]:
for name, grade in students.items():
    print(f"Name: {name}, Grade: {grade}")

Name: Stormy, Grade: B
Name: Fiddler, Grade: B
Name: Mallet, Grade: C

In [166]:
[x**2 for x in range(11) if x % 2 == 0]

[0, 4, 16, 36, 64, 100]

In [168]:
[s.lower() for s in ["A", "B", "C"]]

['a', 'b', 'c']

In [170]:
raw_name = "   Alice\n"

In [175]:
"welcome, ".upper() + raw_name.strip().upper()

'WELCOME, ALICE'

In [193]:
try:
    a = float(input("First number: "))
    b = float(input("Second number: "))
    print(a/b)
except ValueError:
    print("This is not a number.")
except ZeroDivisionError:
    print("Division by zero not allowed.")
finally:
    print("Bye")

First number:  4.5
Second number:  6.5

0.6923076923076923
Bye

In [194]:
int(4.5)

4